.card {
  display: flex;
  background-color: $color-white;
  &__content {
    padding: 5rem;
  }
  &__header {
    font-size: 6rem;
    &--meta {
      display: block;
      font-weight: 400;
      font-style: italic;
      margin-top: 1rem;
      font-size: 60%;
    }
  }
  &__paragraph {
    padding: 2rem;
  }

  // Call to action button style
  .menu {
    display: flex;
    justify-content: space-between;

    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    &__item {
      margin: 0 2rem;
    }
    &__link {
      text-decoration: none;
      font-weight: 400;
    }
  }

  &__img--item {
    width: 100%;
    height: 100%;
  }
}
