@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;700;800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.7rem;
  background-color: $color-bg;
  color: $color-black;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  min-height: 100vh;
  margin: 5rem auto 0 auto;
  max-width: 119rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
}
