.footer {
  padding: 4rem 0;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__social {
    &--list {
      display: flex;
    }
    &--item {
      display: flex;
      flex-direction: column;
    }
    &--link {
      text-decoration: none;
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      margin-right: 2rem;

      svg {
        fill: $color-light-grey;
        transition: fill 0.2s linear;
        &:hover {
          fill: $color-light-black;
        }
      }
    }
  }
  &__copyright {
    font-size: 1.5rem;
    color: $color-light-grey;
  }
}
