.footer {
  padding-top: 5rem;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__social {
    &--list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
    }
    &--item {
      display: flex;
      flex-direction: column;
    }
    &--link {
      text-decoration: none;
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      margin-right: 2rem;

      svg {
        fill: #b3b3b3;
        transition: fill 0.2s linear;
        &:hover {
          fill: #5d5b5b;
        }
      }
    }
  }
  &__copyright {
    font-size: 1.7rem;
  }
}
