.card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: $color-white;
  box-sizing: content-box;

  &__area,
  &-img {
    width: 50%;
  }

  &__content {
    padding: 7rem;
    padding-top: 0;
  }
  &__header {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 12px;
    &--meta {
      display: block;
      font-weight: 300;
      margin: 2.7rem 0;
      letter-spacing: 5px;
      font-size: 45%;
    }
  }
  &__paragraph {
    margin: 4rem 0;
    margin-bottom: 7rem;
    font-size: 1.8rem;
    line-height: 1.7;
  }

  // Call to action button style
  .menu {
    &__list {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
    }
    &__item {
      margin-right: 3rem;
    }
    &__link {
      padding: 1.4rem 2rem;
      color: $color-black;
      border: 0.5px solid $color-btn-border;
      font-size: 1.1rem;
      border-radius: 5px;
      text-decoration: none;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 4px;
      transition: all 0.3s linear;

      &:hover {
        color: $color-btn-hover;
        border-color: currentColor;
      }
    }
  }
}

.card-img {
  display: flex;
  &__item {
    width: 100%;
    height: 100%;
  }
}
