.container {
  max-width: 114rem;
  margin: 0 auto;
  &__inner {
    padding: 5rem 0;
  }
}
.card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: $color-white;

  &__area,
  &-img {
    width: 50%;
  }

  &__content {
    padding: 5rem;
  }
  &__header {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 12px;
    &--meta {
      display: block;
      font-weight: 400;
      margin: 2.4rem 0;
      letter-spacing: 5px;
      font-size: 47%;
    }
  }
  &__paragraph {
    margin: 4rem 0;
    font-size: 1.8rem;
    line-height: 1.7;
  }

  // Call to action button style
  .menu {
    margin-top: 7rem;

    &__list {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
    }
    &__item {
      margin-right: 2rem;
    }
    &__link {
      padding: 1rem 2rem;
      color: #474747;
      border: 0.5px solid currentColor;
      font-size: 1.2rem;
      border-radius: 5px;
      text-decoration: none;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 4px;
      transition: all 0.3s linear;

      &:hover {
        color: #1ccbd6;
      }
    }
  }
}

.card-img {
  display: flex;
  &__item {
    width: 100%;
    height: 100%;
  }
}
