// Max Width => 2652px
// TODO: Media Query for Large Screen should be fixed and  later :)

@media (max-width: 2652px) {
  .container {
    max-width: 100%;
    &__inner {
      padding: 8rem;
      padding-bottom: 0;
    }
  }
  .card {
    margin: 0 5rem;
  }
  .footer {
    padding-bottom: 0;
    margin: 5rem;
  }
}

// Max Width => 1140px
@media (max-width: 1140px) {
  .container {
    max-width: 90rem;
  }
  .card__header {
    font-size: 2.5rem;
  }
  .card .menu__link {
    font-size: 1rem;
    padding: 1rem;
  }
  .card__paragraph {
    font-size: 1.7rem;
  }
}

// Max Width => 980px
@media (max-width: 980px) {
  .container {
    max-width: 75rem;
  }

  .card {
    flex-direction: column-reverse;
    text-align: center;
    &__area,
    &-img {
      width: 100%;
    }
    & .menu__list {
      justify-content: center;
    }
  }

  .footer {
    &__social--link {
      height: 2rem;
      width: 2rem;
      line-height: 2rem;
      margin: 0 1.5rem;
    }
    &__content {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    &__copyright {
      font-size: 1.4rem;
      margin-top: 1.6rem;
    }
  }
}

// Max Width => 730px
@media (max-width: 730px) {
  .container__inner {
    padding-top: 0;
  }
  .footer__social--link {
    height: 1.7rem;
    width: 1.7rem;
    line-height: 1.7rem;
    margin: 0 1.5rem;
  }
}

// Max Width => 480px
@media (max-width: 480px) {
  .card__header {
    font-size: 1.7rem;
    &--meta {
      font-size: 61%;
    }
  }
  .menu {
    &__list {
      flex-direction: column;
    }
    &__item {
      margin-right: 0;
      margin: 1rem;
    }
    &__link {
      display: block;
      padding: 1.8rem;
    }
  }
}

// Max Width => 390px
@media (max-width: 390px) {
  .card__header {
    letter-spacing: 4px;
  }
}
