@media (max-width: 2652px) and (min-width: 1371px) {
  html {
    font-size: 65%;
  }
  body {
    max-width: 100%;
  }
  .card,
  .footer {
    margin: 0 8rem;
  }
}

@media (max-width: 1370px) {
  .card {
    &__header {
      font-size: 2.5rem;
    }
    &__paragraph {
      font-size: 1.7rem;
    }
    & .menu__link {
      font-size: 1rem;
      padding: 1rem;
    }
  }
}

@media (max-width: 1240px) {
  .card,
  .footer {
    margin: 0 5rem;
  }
  .card .card__header {
    font-size: 2.3rem;
  }
}

@media (max-width: 1028px) {
  .card {
    flex-direction: column-reverse;
    text-align: center;
    &__area,
    &-img {
      width: 100%;
    }
    &-img {
      margin-bottom: 3rem;
    }
    & .menu__list {
      justify-content: center;
    }
  }

  .footer {
    &__social--link {
      height: 2rem;
      width: 2rem;
      line-height: 2rem;
      margin: 0 1.5rem;
    }
    &__content {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    &__copyright {
      font-size: 1.4rem;
      margin-top: 1.6rem;
    }
  }
}

@media (max-width: 730px) {
  body {
    margin-top: 1.5rem;
  }
  .card,
  .footer {
    margin: 1.5rem;
  }
  .footer .footer__social--link {
    height: 1.7rem;
    width: 1.7rem;
    line-height: 1.7rem;
    margin: 0 1.5rem;
  }
}

@media (max-width: 530px) {
  .card {
    .card__header {
      font-size: 1.7rem;
      letter-spacing: 4px;

      &--meta {
        font-size: 61%;
      }
    }
    & .menu {
      &__list {
        flex-direction: column;
      }
      &__item {
        margin-right: 0;
        margin: 1rem;
      }
      &__link {
        display: block;
        padding: 1.8rem;
      }
    }
  }
}

@media (max-width: 390px) {
  .card .card__header {
    letter-spacing: 4px;
  }
}
