/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (max-width: 1140px) {
  .container {
    max-width: 90rem;
  }
  .card__header {
    font-size: 2.5rem;
  }
  .card .menu__link {
    font-size: 1rem;
    padding: 1rem;
  }
  .card__paragraph {
    font-size: 1.7rem;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

// @media (min-width: 768px) and (max-width: 896px) {
//   .container {
//     max-width: 80rem;
//   }
//   .card__header {
//     font-size: 1.8rem;
//   }

//   .footer__social--link {
//     height: 2.5rem;
//     width: 2.5rem;
//     line-height: 2.5rem;
//   }
//   .card__paragraph {
//     font-size: 1.5rem;
//   }
// }

@media (max-width: 980px) {
  .container {
    max-width: 75rem;
  }

  .card {
    flex-direction: column-reverse;
    text-align: center;
    &__area,
    &-img {
      width: 100%;
    }
    & .menu__list {
      justify-content: center;
    }
  }

  .footer {
    &__social--link {
      height: 2rem;
      width: 2rem;
      line-height: 2rem;
      margin: 0 1.5rem;
    }
    &__content {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    &__copyright {
      font-size: 1.4rem;
      margin-top: 1.6rem;
    }
  }
}

//
@media (max-width: 730px) {
  .container__inner {
    padding-top: 0;
  }
  .footer__social--link {
    height: 1.7rem;
    width: 1.7rem;
    line-height: 1.7rem;
    margin: 0 1.5rem;
  }
}

@media (max-width: 480px) {
  .card__header {
    font-size: 1.7rem;
    &--meta {
      font-size: 61%;
    }
  }
  .menu {
    &__list {
      flex-direction: column;
    }
    &__item {
      margin-right: 0;
      margin: 1rem;
    }
    &__link {
      display: block;
      padding: 1.8rem;
    }
  }
}

// Mobile Screen
@media (max-width: 390px) {
  .card__header {
    letter-spacing: 4px;
  }
}
